@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Assistant', Arial, sans-serif;
    background-color: #fff7f8;
    color: #3b2a2f;
}

img,
video {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}